<% provide(:title, t('.title')) %>
<h1><%= t('.title') %></h1>

<p><%= t('.description') %></p>
<%= link_to t('public_pages.link_to_top'), '#', class: 'btn-style--normal' %>
<%= link_to t('public_pages.back_previous_page'), 'javascript:history.back()', class: 'btn-style--normal' %>
